<div class="row">
  <div class="col-12 offset-md-2 col-md-8 chat-heading">
    <h4>
      <%= "#{@boardroom.article.title}" %>
      <%= link_to 'javascript:history.back()', class: 'btn back-forward' do %>
        <i class="fas fa-door-open"></i> 退出する
      <% end %>
    </h4>
    <input type="text" id="speak-field" data-behavior="boardroom_speaker" data-user="<%= current_user.id %>" data-boardroom="<%= @boardroom.id %>">
  </div>

  <div class="col-12 offset-md-2 col-md-8 chat-room">
    <div id="chats" class="chat-content">
      <%= render partial: "chat", collection: @chats %>
    </div>
  </div>
</div>
