<div class="row auther-member-outline">
  <div class="offset-7 offset-md-8 col-2 col-md-1 auther-member-info">
    <% if user.image.attached? %>
      <%= link_to user_path(user) do %>
        <%= image_tag user.image.variant(combine_options:{resize:"200x200^",crop:"200x200+0+0",gravity: :center}).processed, class: "small-avator img-fluid" %>
      <% end %>
    <% else %>
      <%= link_to user_path(user) do %>
        <%= image_tag 'default.jpg', class: "small-avator img-fluid" %>
      <% end %>
    <% end %>
  </div>
  <div class="col-3 auther-member-info">
    <p>Auther Name</p>
    <%= link_to user_path(user) do %>
      <p><%= user.name %></p>
    <% end %>
  </div>
</div>
