<% if user_signed_in? %>
  <div class="row">
    <div class="col-4 boardroom-creater">
      <%= form_with model: @boardroom do |f| %>
        <%= f.hidden_field :article_id, :value => article.id %>
        <%= f.submit 'ボードを作成', class: 'btn btn-boardroom' %>
      <% end %>
    </div>
    <div class="col-4 boardroom-shower now-boardroom-shower">
      <% if @boardrooms %>
        <div class="dropdown">
          <button type="button" id="br-dropdown" class="btn dropdown-toggle boardrooms-list btn-boardroom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            最新のボード
          </button>
          <div class="dropdown-menu" aria-labelledby="br-dropdown">
            <% @boardrooms.first(BRANDNEW_BOARD_NOM).each do |boardroom| %>
              <%= link_to boardroom_path(boardroom), class: 'dropdown-item' do %>
                <i class="far fa-newspaper"></i><%= "ボード#{boardroom.id}" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-4 boardroom-shower">
      <% if @past_boardrooms %>
        <div class="dropdown">
          <button type="button" id="pbr-dropdown" class="btn dropdown-toggle past-boardrooms-list btn-boardroom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            過去のボード
          </button>
          <div class="dropdown-menu" aria-labelledby="pbr-dropdown">
            <% @past_boardrooms.each do |boardroom| %>
              <%= link_to boardroom_path(boardroom), class: 'dropdown-item' do %>
                <i class="far fa-newspaper"></i><%= "ボード#{boardroom.id}" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
