<div class="row">
  <% @articles.each do |article| %>
    <div class="col-6">
      <div class="index-heading-box">
        <% article.categories.each do |category| %>
          <div class="index-category-tag"><%= category.name %></div>
        <% end %>
        <h2 class="title-decoration"><%= article.title %></h2>
        <p class="time-decoration text-muted"><%= " #{article.created_at.strftime('%Y/%m/%d %H:%M')}" %></p>
        <div class="picture-decoration-box">
        <!-- 画像がNotFoundの場合には記事を削除-->
        <%= article_deleter(article) %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="article-paginate col-12"><%= paginate @articles, theme: 'twitter-bootstrap-4' %></div>
</div>
