<%= render 'article_heading', article: @article %>
<%= render 'boardroom_parts', article: @article, boardroom: @boardroom,
                              boardrooms: @boardrooms, past_boardrooms: @past_boardrooms %>
<%= render 'article_body', article: @article %>

<div class="row bottom-menu">
  <div class="col-6" style="width:100%; background-color: blue;">
    <%= render 'favorite_form', article_id: @article.id %>
  </div>
  <div class="col-6" style="width:100%; background-color: red;">
    <%= link_to 'トップへ戻る', '#', class: 'btn' %>
  </div>
</div>
