<!-- user-profile-boxは後でパーシャル化(show, show_follow) -->
<div class="user-profile-box">
  <div class="row">
    <section class="user_info col-sm-5 col-12">
      <%if @user.image.attached? %>
        <%= image_tag @user.image.variant(combine_options:{resize:"600x600^",crop:"600x600+0+0",gravity: :center}).processed, class: "avator" %>
      <% else %>
        <%= image_tag 'default.jpg', class: "avator" %>
      <% end %>
    </section>
    <section class="stats col-sm-7 col-12">
      <h3>
        <%= @user.name %>
        <% if @user == current_user %>
          <%= link_to edit_user_registration_path, class: 'profile-edit-button' do %>
            <i class="fas fa-pen"></i>
          <% end %>
        <% end %>
        <%= render 'follow_form' %>
      </h3>
      <div class="introduce">
        <%= @user.introduce %>
      </div>
      <div class="follow-stats-list">
        <%= render 'shared/follow_stats' %>
      </div>
    </section>
  </div>
</div>

<!-- partial化 -->
<div class="menu-tab-box">
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item menu-tab">
      <% if @title.blank? %>
        <%= link_to user_path(current_user), class: 'nav-link active' do %>
          <span>メインメニュー</span>
        <% end %>
      <% else %>
        <%= link_to user_path(current_user), class: 'nav-link' do %>
          <span>メインメニュー</span>
        <% end %>
      <% end %>
    </li>
    <li class="nav-item menu-tab">
      <% if @title == 'Following' %>
        <%= link_to following_user_path(current_user), class: 'nav-link active' do %>
          <span>フォロー中</span>
        <% end %>
      <% else %>
        <%= link_to following_user_path(current_user), class: 'nav-link' do %>
          <span>フォロー中<span>
        <% end %>
      <% end %>
    </li>
    <li class="nav-item menu-tab">
      <% if @title == 'Followers' %>
        <%= link_to followers_user_path(current_user), class: 'nav-link active' do %>
          <span>フォロワー</span>
        <% end %>
      <% else %>
        <%= link_to followers_user_path(current_user), class: 'nav-link' do %>
          <span>フォロワー</span>
        <% end %>
      <% end %>
    </li>
    <li class="nav-item menu-tab">
      <% if @title == 'Favorite Articles' %>
        <%= link_to favoring_user_path(current_user), class: 'nav-link active' do %>
          <span>お気に入り</span>
        <% end %>
      <% else %>
        <%= link_to favoring_user_path(current_user), class: 'nav-link' do %>
          <span>お気に入り</span>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>

<!-- partial化候補 ただしcolが異なるので注意 -->
<div class="user-articles-box">
  <div class="row">
    <div class="col-12">
      <h5 class="user-articles-heading"><%= @title %></h5>
      <% if @user.articles.any? %>
        <div class="row">
          <% @articles.each do |article| %>
            <button type="button" class="modal-button col-4" style="display:inline-block;" data-toggle="modal" data-target="#mordal-<%= article.id %>">
              <%= image_tag article.image.variant(combine_options:{resize:"900x900^",crop:"900x900+0+0",gravity: :center}).processed, class: "thumbnail img-thumbnail" %>
              <div class="mask">
            		<div class="caption"><%= article.title %></div>
            	</div>
            </button>
            <% @mordal_article = article %>
            <ol class="articles">
              <%= render 'articles/article_mordal', article: @mordal_article %>
            </ol>
          <% end %>
        </div>
      <% else %>
        <h5 class="not-found-message">Articles are not found.</h5>
      <% end %>
    </div>
  </div>
</div>
