<div class="row col-12 col-md-4 follow-member-outline no-gutters">
  <div class="col-3 follow-member-info">
    <% if user.image.attached? %>
      <%= link_to user_path(user) do %>
        <%= image_tag user.image.variant(combine_options:{resize:"200x200^",crop:"200x200+0+0",gravity: :center}).processed, class: "small-avator img-fluid", alt: "#{user.name}-#{user.id}" %>
      <% end %>
    <% else %>
      <%= link_to user_path(user) do %>
        <%= image_tag 'default.jpg', class: "small-avator img-fluid", alt: "#{user.name}-#{user.id}" %>
      <% end %>
    <% end %>
  </div>
  <div class="col-9 follow-member-info">
    <%= link_to user_path(user) do %>
      <p><%= user.name %></p>
    <% end %>
    <p><%= user.articles.count %> articles</p>
  </div>
</div>
