<div class="user-profile-box">
  <div class="row">
    <section class="user_info col-sm-5 col-12">
      <%if @user.image.attached? %>
        <%= image_tag @user.image.variant(combine_options:{resize:"600x600^",crop:"600x600+0+0",gravity: :center}).processed, class: "avator" %>
      <% else %>
        <%= image_tag 'default.jpg', class: "avator" %>
      <% end %>
    </section>
    <section class="stats col-sm-7 col-12">
      <h3>
        <%= @user.name %>
        <% if @user == current_user %>
          <%= link_to edit_user_registration_path, class: 'profile-edit-button' do %>
            <i class="fas fa-pen"></i>
          <% end %>
        <% end %>
        <%= render 'follow_form' %>
      </h3>
      <div class="introduce">
        <%= @user.introduce %>
      </div>
      <div class="follow-stats-list">
        <%= render 'shared/follow_stats' %>
      </div>
    </section>
  </div>
</div>

<hr/>

<div class="user-articles-box">
  <div class="row">
    <div class="col-12 col-md-8">
      <h5 class="user-articles-heading">My Articles</h5>
      <% if @user.articles.any? %>
        <div class="row">
          <% @articles.each do |article| %>
            <button type="button" class="modal-button col-6" style="display:inline-block;" data-toggle="modal" data-target="#mordal-<%= article.id %>">
              <%= image_tag article.image.variant(combine_options:{resize:"900x900^",crop:"900x900+0+0",gravity: :center}).processed, class: "thumbnail img-thumbnail" %>
              <div class="mask">
            		<div class="caption"><%= article.title %></div>
            	</div>
            </button>
            <% @mordal_article = article %>
            <ol class="articles">
              <%= render 'articles/article_mordal', article: @mordal_article %>
            </ol>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-4">
      <h5 class="user-boards-heading">My Borads</h5>
      <% if @user.boardrooms.any? %>
          <% @boards.each do |board| %>
          <ul class="user-boards-list">
            <li class="user-boards-item">
              <%= link_to boardroom_path(board.id), class: "btn btn-read" do %>
                <%= "#{board.article.title.slice(0..15)} #{board.id}" %>
              <% end %>
            </li>
          </ul>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
