<% @user ||= current_user %>
<div class="follow-stats">
  <a href="<%= user_path(@user) %>">
    <strong id="articles" class="stat article-counts">
      <%= @user.articles.count %>
    </strong>
    articles
  </a>  
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
