<footer class="footer mt-auto py-3 fixed-bottom">
  <div class="container">
    <div class="footer-parts-div">
      <ul class="footer-parts text-links">
        <li><%= link_to "開発環境", specification_path, class: 'nav-link text-link' %></li><span>|</span>
        <!--<li><%#= link_to "利用規約", terms_path, class: 'nav-link text-link' %></li><span>|</span>-->
        <li><%= link_to "お問い合わせ", new_contact_path, class: 'nav-link text-link' %></li>
      </ul>
    </div>
    <div class="footer-parts-div">
      <ul class="footer-parts platform-icon-links">
        <li>
          <%= link_to root_url, class: 'nav-link youtube' do %>
            <i class="fab fa-youtube platform-icon"></i>
          <% end %>
        </li>
        <li>
          <%= link_to root_url, class: 'nav-link facebook' do %>
            <i class="fab fa-facebook platform-icon"></i>
          <% end %>
        </li>
        <li>
          <%= link_to root_url, class: 'nav-link twitter' do %>
            <i class="fab fa-twitter platform-icon"></i>
          <% end %>
        </li>
        <li>
          <%= link_to root_url, class: 'nav-link instagram' do %>
            <i class="fab fa-instagram platform-icon"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</footer>
