<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#223a70;">
  	<div class="container">
      <%= link_to "Fakenews", root_path, id: "logo", class: "navbar-brand mr-auto" %>
      <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#header-content"  aria-controls="header-content" aria-expanded="false" aria-label="Toggle navigation">
        <span>Menu</span>
        <i class="fab fa-buffer"></i>
  		</button>

  		<div class="collapse navbar-collapse" id="header-content">
        <% if user_signed_in? %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to articles_path, class: 'nav-link' do %>
                  <i class="fas fa-book-reader header-icon"></i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to search_path, class: 'nav-link' do %>
                  <i class="fas fa-search header-icon"></i>
                <% end %>
              </li>
              <!-- <li class="nav-item">
                <%# if random_jump != 0 %>
                  <%#= link_to article_path(random_jump), class: 'nav-link' do %>
                    <i class="fas fa-door-open header-icon"></i>
                  <%# end %>
                <%# end %>
              </li> -->
              <li class="nav-item">
                <%= link_to new_article_path, class: 'nav-link' do %>
                  <i class="fas fa-feather-alt header-icon"></i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to user_path(current_user), class: 'nav-link' do %>
                  <i class="fas fa-user header-icon"></i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to recieved_user_path(current_user), class: 'nav-link' do %>
                  <i class="far fa-envelope header-icon"></i>
                <% end %>
              </li>
              <li class="nav-item dropdown">
    				    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <% if current_user.image.attached? %>
                    <% begin %>
                      <%= image_tag current_user.image.variant(combine_options:{resize:"600x600^",crop:"600x600+0+0",gravity: :center}).processed, class: "header-avator" %>
                    <% rescue %>
                      <%= image_tag 'default.jpg', class: "header-avator" %>
                    <% end %>
                  <% else %>
                    <%= image_tag 'default.jpg', class: "header-avator" %>
                  <% end %>
                </a>
    				    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to 'マイページ', user_path(current_user), class: 'dropdown-item' %>
                  <%= link_to 'プロフィールの編集', edit_user_registration_path, class: 'dropdown-item' %>
                  <div class="dropdown-divider"></div>
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
    				    </div>
    			     </li>
        <% else %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item header-item">
              <%= link_to '記事を読む', articles_path, class: 'nav-link' %>
            </li>
            <li class="nav-item header-item">
              <%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item header-item">
              <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
            </li>
        <% end %>
  			</ul>
  		</div>
    </div>
  </nav>
  <% if current_page?(root_url) %>
    <div class="bgimage">
      <div class="top-heading">
        <span>Happy Everyday Fakenews!</span>
        <div class="top-heading-button">
          <%= link_to 'サービス概要', aboutus_path %>
          <%= link_to 'ゲストログイン', users_guest_log_in_path, method: :post unless user_signed_in? %>
        </div>
      </div>
    </div>
  <% end %>
</header>
