<h4 class="create-contact-header">お問い合わせ</h4>

<%= form_with(model: @contact, local: true) do |f| %>
  <div class="contact-new-field">
    <%= f.label :name, '件名' %><span class="essential">必須</span>
    <%= f.text_field :name, autofocus: true, class: 'contact-name-box', id: 'contact-name-box' %>
  </div>
  <div class="contact-new-field">
    <%= f.label :email, '返信先メールアドレス' %><span class="essential">必須</span>
    <%= f.text_field :email, class: 'content-email-box', id: 'content-email-box' %>
  </div>
  <div class="contact-new-field">
    <%= f.label :message, 'お問い合わせ内容' %><span class="essential">必須</span>
    <%= f.text_area :message, class: 'content-message-box', id: 'content-message-box', rows: 6 %>
  </div>
  <%= f.submit "送信", class: "btn send-btn" %>
<% end %>
