<div class="navbar-nav ml-auto" id="search-window">
  <%= form_with(url: results_path, method: :get, local: true) do |f| %>
    <%= f.label :category, 'カテゴリー検索' %>
    <%= f.collection_radio_buttons :category, Category.all, :id, :name, class: "form-control search-radio" %>
    <%= f.label :search, 'タイトルで検索' %>
    <%= f.text_field :search, class: "form-control search-box", size: 25 %>
    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
 </div>
