<!DOCTYPE html>
<html>
  <head>
    <title>Fakenews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- slickの二重描画防止のためキャッシュを止める -->
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="container main-container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
